{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Title:</label>
					<input type ="text" minlength="2" maxlength="50" class="form-control" name="name" placeholder="Name of the item">

					<label for="description">Description:</label>
					<textarea class="form-control" minlength="5" maxlength="250" rows="3" name="description"
                              placeholder="Description of the item"></textarea>

					<label for="category_id">Category</label>
					<select class="form-control" id="category" name="category_id">
						{% for category in categories %}
							<option value="{{category.id}}">{{category.name}}</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>

			</form>

		</div>
	</div>
{% endblock %}